.game-page{
  flex: 1;
  display: flex;
  flex-direction: row;
  margin: 5%;
  margin-top: 10%;
  align-items: center;
  justify-content: center;
}

.desconto{
  background-color: #4B626C;
  color: #FBF6F0;
  font-size: 2rem;
  font-weight: 500;
  padding: 1.2% 0.3%;
  border-radius: 50%;
  position: relative;
  top: -17rem;
  left: 2rem;
}

.game-contents{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2%;
  background-color: #4B626C;
  border-radius: 0 10px 10px 0;
  height: 500px;
  margin-bottom: 2rem;
}

.game-contents .content-title{
  color: #FBF6F0;
  padding-top: 5%;
  font-size: 2rem;
  font-weight: 600;
}

.game-contents p{
  color: #FBF6F0;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}

.game-page .image-promo img{
  height: 500px;
}

.game-page .image-promo .promo-value{
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  font-weight: 600;
  position: relative;
  bottom: 4rem;
  left: 2rem;
}

.game-page .image-promo .promo-value .promo{
  background-color: #4B626C;
  color: #FCFAFA;
  padding: 0.5% 1%;
  border-radius: 5px;
}

.game-page .image-promo .promo-value .value{
  background-color: #FCFAFA;
  color: #4B626C;
  padding: 0.5% 1%;
  border-radius: 5px;
  margin-left: 2%;
}

.game-contents .buttonscart{
  border-top: solid #FBF6F0;
  padding-top: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-contents .buttonscart button{
  color: #4B626C;
  background-color: #FBF6F0;
  border: solid #FBF6F0 1px;
  border-radius: 5px;
  margin: 0.2rem 0;
  width: 15rem;
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: 500;
  transition-duration: 0.4s;
}

.game-contents .buttonscart .reembolso{
  opacity: 0.5;
  cursor: not-allowed;
}

.game-contents .buttonscart .add-carrinho:hover{
  margin-bottom: 0.5rem;
  cursor: pointer;
  background-color: #4B626C;
  color: #FBF6F0;
}
