.container header{
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1440px;
  font-family: 'Montserrat', sans-serif;
  color: #4B626C;
  font-size: 2rem;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  width: 100%;
  padding-left: 5%;
  padding-right: 100%;
  margin: 0%;
  height: 100px;
  box-shadow: 0px 0px 10px 0px  #000000;
  background-color: #F8F8F4;
  z-index: 100;
}

.logo img{
  flex: 1;
  width: 100px;
}

.menu-active, .hidden{
  flex: 1;
  display: flex;
  flex-direction: row;
}

ul{
  flex: 1;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.link-to{
  padding: 2%;
  justify-content: space-between;
  box-sizing: border-box;
  transition-duration: 0.4s;
}

.link-to:hover{
  background-color: #4B626C;
  color: #F8F8F4;
  opacity: 0.5;
  border-radius: 15px;
}

.search{
  margin-left: 15rem;
  align-items: center;
  display: flex;
}

.search input{
  background-color: #EFEFEF;
  border: none;
  font-size: 1rem;
  border-radius: 10px;
  padding: 0.5rem;
  box-sizing: border-box;
  box-shadow: 0px 5px 10px 0.1px rgba(0, 0, 0, 0.25);
}

.search button{
  background: none;
  border: none;
  color: #000000;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  left: -17%;
  top: 0.15rem;
}

.menu{
  display: none;
  background: none;
  border: none;
  color: #4B626C;
}

@media (max-width: 1440px){
  .container header{
    font-size: 1.25rem;
  }

  .logo img{
    width: 75px;
  }

  .link-to{
    padding-left: 0%;
  }

  .search{
    margin-left: 9%;
  }

  .search input{
    font-size: 0.75;
    width: 60%;
  }
}

@media (max-width: 768px){
  .container header{
    font-size: 1rem;
    height: 60px;
  } 

  .logo img{
    width: 60px;
  }

  .search{
    margin-left: 9%;
  }
}

@media (max-width: 700px){
  .menu{
    display: block;
    font-size: 60px;
    position: fixed;
    right: 5%;
  }

  .hidden{
    display: none;
  }

  .menu-active {
    display: flex;
  }

  .menu-active{
    background-color: #4B626C;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 0%;
    right: 50%;
    top: 60px;
    padding-bottom: 2rem;
  }

  ul{
    flex-direction: column;
    align-items: center;
    color: #F8F8F4;
    margin-top: 10px;
  }

  .search{
    margin-left: 18%;
  }
}